#home-container {
  display: flex;
}
#home-container #feed-posts {
  background-color: azure;
  width: 70%;
  padding: 10px;
}
#home-container #user-friends {
  background-color: aliceblue;
  width: 30%;
  padding: 10px;
  border-left: 1px solid lightgrey;
}
